<div ng-controller="PollsAddCtlr">
                <!--  Poll Add Form -->
                <form name="reviewForm" ng-submit="clear($event)">
                    <br>
                    <fieldset class="form-group">
                        Question: <textarea ng-model="poll.question" class="form-control" placeholder="Enter your question here..." title="Question" required></textarea>
                    </fieldset>
                    <fieldset class="form-group">
                        Email: <input ng-model="poll.author" type="email" class="form-control" placeholder="author@octo-poll.com" title="Email" required />
                    </fieldset>
                    <ul>
                    <li ng-repeat="answer in allAnswers">
                    <fieldset class="form-group">
                        <input ng-model="answer.value" type="text" class="form-control" placeholder="Answer {{answer.id}}" title="Option {{answer.id}}"  style="display:inline" ng-keypress="keypressHandler($event,{{answer.id}})">
                    </fieldset>

                    </li>
                    <li>
                    <button class="btn btn-default" ng-click="addAnswer($event)">Add another answer</button>
                </li>
                    </ul>
                   

                        
                    <fieldset class="form-group">
                        <input ng-click="send($event)" type="submit" class="btn btn-default" value="Generate"/>
                    </fieldset>
                </form>
                <pre>form == {{ poll | json }}</pre>
                <pre>a == {{ allAnswers | json }}</pre>
        
            </div>